In [50]:
from pycozo.client import Client

cozo_client = Client("sqlite", r"C:\Users\kryst\Documents\Artificial Intelligence\Artificial Intelligence - sem6\courses\cozo_test.db")

In [47]:
cozo_client.run("::indices sentences")

,name,type,relations,config
0,full_text_search,fts,[sentences:full_text_search],"{'extractor': 'sentence', 'tokenizer': {'args'..."

In [43]:
cozo_client.run("::hnsw drop passages:semantic")

  status
0     OK

In [49]:
cozo_client.run("::index drop sentences:full_text_search")

QueryException: index full_text_search for relation sentences not found

In [7]:
passage_id = "000c652c-b424-4018-9921-a58da202b180"

In [16]:

# passages_slides {passage_id => file_id, slide_i, sentence_start, sentence_end}
# slides_sentences {sentence_id => file_id, slide_i, sentence_i}
cozo_client.run("""
    passage[file_id,slide_i, sentence_start, sentence_end] := *passages_slides[passage_id, file_id, slide_i, sentence_start, sentence_end] , passage_id=$passage_id
    ?[sentence_id, file_id, slide_i, sentence_i] := *slides_sentences[sentence_id, file_id, slide_i, sentence_i], passage[file_id,slide_i, sentence_start, sentence_end], sentence_i>=sentence_start, sentence_i<sentence_end
    :order file_id, slide_i, sentence_i
    """, {"passage_id": passage_id})

,sentence_id,file_id,slide_i,sentence_i
0,b2feaf75-811a-407c-9f1e-c73834271653,1a3df684b83b0d62b9b5d7bfe7de7d18692282b2082f97...,0,7
1,b4d4cf05-5f19-48e4-bb0a-bee08cf96050,1a3df684b83b0d62b9b5d7bfe7de7d18692282b2082f97...,0,8
2,755aabca-83c1-4b66-af7c-0c0620eab8e4,1a3df684b83b0d62b9b5d7bfe7de7d18692282b2082f97...,0,9

In [20]:
passage_id = "00494883-8483-49a5-86fc-3e34398af597"

In [25]:
cozo_client.run("""
            passage[file_id, start_time_p, end_time_p] := *passages_videos[passage_id, file_id, start_time_p, end_time_p] , passage_id=$passage_id
            ?[sentence_id, file_id, start_time, end_time] := *videos_sentences[sentence_id, file_id, start_time, end_time], passage[file_id, start_time_p, end_time_p], start_time>=start_time_p, end_time<end_time_p
            :order file_id, start_time
            """, {"passage_id": passage_id}).sentence_id.tolist()

['e1988934-22fa-4940-b0fb-6f45e8376448',
 'e2b82913-d10b-48b7-adcf-564eeb73897c',
 'a182aaf0-2873-4f78-b06d-d4f7c87c4417']

In [51]:
sentence_ids = ['3a51a2ef-c6f2-4bd7-9113-7100a6e0ea7e']

In [54]:
# sentence_id => sentence, type:String
# order by a list of sentence_ids 
sentences = cozo_client.run("""
    ?[sentence_id, sentence,type] := *sentences[sentence_id, sentence, type], sentence_id in $sentence_ids
    """, {"sentence_ids": sentence_ids})

In [55]:
sentences

,sentence_id,sentence,type
0,3a51a2ef-c6f2-4bd7-9113-7100a6e0ea7e,"To illustrate this procedure, assume we have 4...",kadzinski_notes_pdf

In [39]:
total_passage = " ".join([sentences[sentences.sentence_id == sentence_id].sentence.values[0] for sentence_id in sentence_ids])
total_passage

"There will be communities that are under represented. The problem is that it's sometimes really very hard to to find out that a group has been stereotyped by the language model. As a matter of fact, the this this is caused by the fact that the only ones who really have the expertise to find stereotypes and to say, well, this is stereotypical."

In [ ]:
cozo_client.run("""
            passage[file_id, start_time, end_time] := *passages_videos[passage_id, file_id, start_time, end_time] , passage_id=$passage_id
            ?[sentence_id, file_id, start_time, end_time] := *video_sentences[sentence_id, file_id, start_time, end_time], passage[file_id, start_time, end_time], sentence_i>=start_time, sentence_i<end_time
            :order file_id, start_time
            """, {"passage_id": passage_id})

In [4]:
cozo_client.run(
        """
        ?[sentence_id, type, sentence] := ~sentences:full_text_search {sentence_id,type, sentence |
            query: $query,
            k: 15
        }
        """,
        {"query": "named entity recognition"}).values

array([['49e7e0c4-8735-43bd-adb2-78456a96696b', 'video',
        'Or, for instance, if we are doing the name entity recognition, then we have to find the demarc ation of the entity span.'],
       ['59ab0a9b-a923-4eb9-8664-dfd2c967877a', 'video',
        'Having some experts selected, we can start solving our main tasks. We can start annot ating. We can ask our experts , for example, to mark all fragments of texts which refer to the names of companies, dates and mentions about people as this might be a basis of our great named entity recognition tool we produce . So we provide them with guidelines on what they should do and give them access to our data set.'],
       ['5b52a1c9-9fe5-492b-a0fe-778c7f0a6b3c', 'video',
        'And prompt learning can do knowledge prob ing, can do question answering, it can classify the text, it can extract information like name entity recognition for instance, or entity linking, it can do reasoning in N LP, for instance , the natural language inference task, it can generate tasks, it can even do multim odal learning where you have for instance images and text .'],
       ['6401f9e5-b35e-491c-ab0b-387b2e5288a8', 'video',
        'Part of speech tagging is very similar to named entity recognition in which we tag each of the words using parts of speech tags. We can even mark relations between tokens, like in the case of relations and spans.'],
       ['73debac7-35b2-45e5-b88a-700ac0724cbe', 'video',
        'Experts have to read a given document and label to it . The data set preparation in the context of named entity recognition is much more tricky, as asking experts to mark fragments of texts using mouse can be error prone.'],
       ['86306cb0-cb15-4c61-aca4-10d36d29baf1', 'video',
        'The most popular tasks solved are classification and named entity recognition tasks.'],
       ['a35771a7-ae41-4d77-bb19-6be313df1fc5', 'video',
        'For instance, the test classification, or sentiment classification, or name entity recognition, or entity linking, or whatever.'],
       ['ab1ad507-68d6-41c7-b2f9-a8c982a550dc', 'video',
        'However, as we observed thousands of examples, we might change our minds so that it is not a rare scenario in which if a given example is provided at the beginning of annotation process and at the end of the annotation process to the same person, the decisions might differ, especially in those hard edge cases. For instance, if we have to tag spam emails, our understanding of what spam is might evolve as we look at those documents . So it might be a good idea to provide periodically some already annotated documents to the same person to measure whether the concept that they want to annotate changed in their minds or not. This way we can spot some moments where a big change was made so that maybe it was to annotate a given data set one more time when I give an annot ator. Regarding the annotation procedure itself, there are various tools that can be used like Prodigy, which allows us to solve various tasks such as text classification, image classification, multi-choice selection, named entity recognition, etc. However, Prodigy is not free. We have to pay for it.']],
      dtype=object)

In [13]:
cozo_client.close()

In [58]:
# read docs
paths = [
    r"../assets/text/da-lec1-notes.txt",
    r"../assets/text/da-lec2-notes.txt",
    r"../assets/text/da-lec3-notes.txt",
    r"../assets/text/da-lec4-notes.txt",
    r"../assets/text/da-lec5-notes.txt",
    r"../assets/text/da-lec6-notes.txt",
    r"../assets/text/da-lec7-notes.txt",
    r"../assets/text/da-lec8-notes.txt",
    r"../assets/text/da-lec9-notes.txt",
    r"../assets/text/da-lec10-notes.txt",
    r"../assets/text/da-lec11-notes.txt",
    r"../assets/text/da-lec12-notes.txt",
]
from pathlib import Path

paths = [Path(p) for p in paths]

In [59]:
import pandas as pd

document_relation = pd.DataFrame(
    columns=["document_name","document_path"],
    data=[(path.name, path) for i, path in enumerate(paths)]
)

In [2]:
client = Client('sqlite', 'file.db')

In [10]:
d = client.run("""

?[sentence, paragraph_id, doc_name] := ~sentence:phrases {paragraph_id,doc_name, sentence |

 query: $query,

 k: 1000

 }
""", {"query": f"NEAR/1(dominating strategy)"})
d.to_markdown("example.md")

First create a document path - document id relation

In [383]:
client.run(
    """
    :create document {document_name => document_path}
    """
)

  status
0     OK

In [384]:
for document_name, document_path in document_relation.values:
    client.run("""
    ?[document_name, document_path] <- [[$document_name, $document_path]]
    :put document {document_name => document_path}
    """,{"document_name":str(document_name),"document_path":str(document_path)})

In [385]:
client.run("""
    :create sentence {sentence_id, paragraph_id, doc_name => sentence} 
""")

  status
0     OK

In [52]:
client.run("""
    :create phrases {phrase:String, doc_name:String, paragraph_id:Int?}
""")

  status
0     OK

In [53]:
# read phrases 
import json
with open(r"../data/annotated_decision_analysis.json","r") as f:
    phrases = json.load(f)
phrases = {k+".txt":v for k,v in phrases.items()}
phrases.keys()

dict_keys(['da-lec8-notes.txt.txt', 'da-lec9-notes.txt.txt', 'da-lec10-notes.txt.txt', 'da-lec11-notes.txt.txt', 'da-lec12-notes.txt.txt'])

In [55]:
from tqdm import tqdm
from nltk import sent_tokenize

In [389]:
sentence_dict = {
    "sentence": {
        "headers": ["sentence_id", "paragraph_id", "doc_name", "sentence"],
        "rows": [],
    }
}
for path in paths:
    with open(path, 'r') as f:
        paragraphs = f.read().splitlines()
    doc_name = path.name
    doc_path = path
    for paragraph_id,paragraph in enumerate(paragraphs):
        if len(paragraph) > 0:
            sents = sent_tokenize(paragraph)
            for sentence_id, sent in enumerate(sents):
                sentence_dict["sentence"]["rows"].append(
                    [sentence_id, paragraph_id, doc_name, sent]
                )

# sentence_dict
client.import_relations(sentence_dict)

# tx.commit()

In [390]:
client.run("""
    ::fts create sentence:phrases {
    extractor: sentence,
    tokenizer: Simple,
    filters: [Lowercase,AlphaNumOnly, Stemmer('English')],
}
""")

  status
0     OK

In [60]:
phrase_dict = {
    "phrases": {
        "headers": ["phrase", "doc_name", "paragraph_id"],
        "rows": []
    }
}
all_phrases = [phrase for doc_phrases in phrases.values() for phrase in doc_phrases]
all_phrases = list(set(all_phrases))
for original_phrase in tqdm(all_phrases,desc="phrases",total=len(all_phrases)):
    #replace non alphanumeric characters with space
    phrase = "".join([c if c.isalnum() else " " for c in original_phrase])
    # split phrase into 2 word spans
    phrase = phrase.split()
    span = " ".join(phrase[0:2])

    total = client.run("""
        ?[paragraph_id, doc_name] := ~sentence:phrases {paragraph_id,doc_name, sentence |
            query: $query,
            k: 1000
        }
        """, {"query": f"NEAR/1({span})"})
    
    for i in range(1,len(phrase)-1):
        span = " ".join(phrase[i:i+2])
        results = client.run("""
        ?[paragraph_id, doc_name] := ~sentence:phrases {paragraph_id,doc_name, sentence |
            query: $query,
            k: 1000
        }
        """, {"query": f"NEAR/1({span})"})
        total = pd.merge(total,results,how="inner")
    for paragraph_id, doc_name in total.values:
        phrase_dict["phrases"]["rows"].append([original_phrase, doc_name, paragraph_id])
        
client.import_relations(phrase_dict)

phrases: 100%|██████████| 431/431 [00:03<00:00, 131.73it/s]

In [65]:
client.run("""
    ?[phrases] := *phrases[phrases, doc_name, paragraph_id]
    """)

                        phrases
0                           ASF
1               Alabama paradox
2              Arrow 's theorem
3                Baldwin method
4           Banzhaf power index
..                          ...
425     weighted majority graph
426         weighted sum method
427       weighted voting games
428  winner-turns-loser paradox
429           winning coalition

[430 rows x 1 columns]

In [66]:
notes_path = Path(r"C:\Users\kryst\Documents\Personal\university\ai_sem6\nlp\testing")
notes_path

WindowsPath('C:/Users/kryst/Documents/Personal/university/ai_sem6/nlp/testing')

In [67]:
original_phrase

'dictatorship'

In [70]:
def get_paragraphs(original_phrase):
    dataframe = client.run("""
        paragraphs[doc_name, paragraph_id] := *phrases[$phrase, doc_name, paragraph_id],
        ?[sentence,sentence_id,paragraph_id,doc_name] := *sentence[sentence_id, paragraph_id, doc_name, sentence],paragraphs[doc_name, paragraph_id]
        :order doc_name, paragraph_id, sentence_id
        """,{"phrase":original_phrase})
    # for each combination of paragraph_id and doc_name, get the paragraph
    return dataframe.groupby(["doc_name","paragraph_id"]).agg({"sentence":lambda x: " ".join(x)})
    
    
df = get_paragraphs("dictatorship")

In [71]:
list(df.iterrows())

[(('da-lec10-notes.txt', 12),
  sentence     At this stage, you already know some properti...
  Name: (da-lec10-notes.txt, 12), dtype: object),
 (('da-lec10-notes.txt', 13),
  sentence     Now is the time to present the most famous th...
  Name: (da-lec10-notes.txt, 13), dtype: object),
 (('da-lec10-notes.txt', 21),
  sentence     Before we discuss another central result in v...
  Name: (da-lec10-notes.txt, 21), dtype: object),
 (('da-lec10-notes.txt', 28),
  sentence     To sum up what we have discussed so far, an a...
  Name: (da-lec10-notes.txt, 28), dtype: object)]

In [72]:
df.groupby(["doc_name","paragraph_id"]).all()

                                 sentence
doc_name           paragraph_id
da-lec10-notes.txt 12                True
                   13                True
                   21                True
                   28                True

In [74]:
for original_phrase in tqdm(all_phrases, desc="notes", total=len(all_phrases)):
    md_text = ""
    paragraphs = get_paragraphs(original_phrase)
    for paragraph_description,paragraph in paragraphs.iterrows():
        md_text += f"\n\n `document : {paragraph_description[0]} slide: {paragraph_description[1]}`"
        md_text += f"\n\n {paragraph['sentence']}"
    md_text += "\n\n## See also:"
    adjacent = client.run("""
        ?[phrase] := *phrases[phrase, doc_name, paragraph_id], *phrases[$phrase, doc_name, paragraph_id], phrase!= $phrase
        """,{"phrase":original_phrase}).values
    for phrase in adjacent:
        md_text += f"\n[[{phrase[0]}]]"
    cleaned_phrase = "".join([c if c.isalnum() else " " for c in original_phrase])
    with open(notes_path / f"{cleaned_phrase}.md","w") as f:
        f.write(md_text)

notes: 100%|██████████| 431/431 [00:30<00:00, 14.29it/s]

In [79]:
pagerank = client.run("""
        phrase_graph[phrase1,phrase2] := *phrases[phrase1, "da-lec12-notes.txt", paragraph_id], *phrases[phrase2, "da-lec12-notes.txt", paragraph_id], phrase1!= phrase2
        ?[phrase,page_rank] <~ PageRank(phrase_graph[])
        :order -page_rank
        """)

In [80]:
pagerank.head(20)

                          phrase  page_rank
0   multi-objective optimization   0.024573
1         objective optimization   0.024567
2            dominated solutions   0.023775
3        non-dominated solutions   0.023771
4         evolutionary algorithm   0.022128
5                  recombination   0.021444
6              genetic algorithm   0.020552
7                Pareto frontier   0.018569
8              crowding distance   0.016729
9                reference point   0.016642
10          optimization problem   0.016237
11                       NSGA-II   0.015415
12              optimal solution   0.014315
13            objective function   0.014034
14              genetic operator   0.013617
15                       archive   0.013289
16          tournament selection   0.013148
17              selection scheme   0.013104
18                   hypervolume   0.012431
19               objective space   0.012237

In [81]:
community_detection_louvain = client.run("""
        phrase_graph[phrase1,phrase2] := *phrases[phrase1, "da-lec12-notes.txt", paragraph_id], *phrases[phrase2, "da-lec12-notes.txt", paragraph_id], phrase1!= phrase2
        ?[community_index,node_index] <~ CommunityDetectionLouvain(phrase_graph[])
        """)

In [83]:
community_detection_louvain

    community_index                    node_index
0            [0, 0]            Chebyshev function
1            [0, 0]                        MOEA/D
2            [0, 0]        evolutionary algorithm
3            [0, 0]    multiple objective problem
4            [0, 0]             objective problem
..              ...                           ...
114          [6, 9]            evolved population
115          [6, 9]        preference information
116         [6, 10]              generation model
117         [6, 10]  population management models
118         [6, 10]            steady-state model

[119 rows x 2 columns]

In [82]:
community_detection_louvain.to_csv("community_detection_louvain.csv")